.alert {
    color: red;
    text-align: center;
    display: block;
}
.cartelito {
    @extend .cardBox;    
    @include templateFlex (column, center, true);

    box-shadow: 8px 8px 10px gray;
    
    transform-origin: center center;
    translate: -50% -50%;
    position: absolute;
    left: 50%;
    top: 50%;
    
        &__pin {
            min-width: 15px;
            max-width: 20px;
            margin-bottom: 15px;
            transform: rotate(30deg);
        }
}
