.barranav {
    background-image: url(../assets/jpg/fondo-navbar.jpg);
    background-size: cover ; 
    background-attachment: fixed;

    &__img{
        min-width: 120px;
        max-width: 130px;
        width: 15vw; 
        padding: 10px;
        border-radius: 10px;        
        @extend .hojaMenu;
        box-shadow: 6px 6px 8px black;
        
        &:hover{
            box-shadow: 6px 6px 8px violet;
        }
    }

    &--icon{
        margin: 0px 15px;
        max-width: 50px;
        max-height: 45px;

        &:hover {
            min-width: 25px;
            max-width: 48px;
            width: 2.5vw;
            max-height: 40px;
        }
    }

}

