.logContainer {
    @extend .cardBox;
    max-width: 80%;

    &__form {
        @include templateFlex (column, center, true);

        &--div  {
            @include templateFlex (column, center, true);
            margin: 5px 0;
           
            input{
                border: 2px solid $font-lapiz;
                transition: border 0.5s;
                padding: 2%;
                // margin-left: 4px;
            }
            input:focus {
                border: 4px solid green;
            }
        }
        &--fin {
            @include templateFlex (row, center, true);
            margin: 5px 0px;
            label {
                text-align: center;
            }
            input{
                padding: 5%;
                margin: 0px 10px;
                border-radius: 5px;
            }
        }              
    }
}


@media (min-width: $bp-medium) {
    .logContainer {
        max-width: 50%;
        &__form{
            margin: 5px 0;
            &--fin {
                margin: 5px auto;
            }
        }
    }
}
